@using Microsoft.AspNetCore.Identity
@using VotingApplication.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VotingApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/header-styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/VotingApplication.styles.css" asp-append-version="true" />
    <!-- Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" type="text/css">
</head>
<body>
    <header class="header" id="header">
        <nav class="nav">
            <input type="checkbox" id="check" class="nav__input">
            <label for="check" class="nav__bottom"> <i class="fa-solid fa-bars"></i> </label>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav__logo-link"><p class="nav__logo-text">VotingApp</p></a>
            <ul class="nav__options-container">
                <li class="nav__page-option"><a class="nav__page-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                    var currentUser = UserManager.GetUserAsync(User).Result; // Sync wait, may cause UI thread blocking issues, but works for simple cases
                    if (currentUser != null && currentUser.UserRol == 1)
                    {
                        <li class="nav__page-option"><a class="nav__page-link" asp-controller="User" asp-action="Index">Users</a></li>
                        <li class="nav__page-option nav__page-option--active"><a class="nav__page-link nav__page-link--active" asp-controller="Candidate" asp-action="Index">Candidates</a></li>
                        <li class="nav__page-option"><a class="nav__page-link" asp-controller="Role" asp-action="Index">Roles</a></li>
                        <li class="nav__page-option"><a class="nav__page-link" asp-controller="Election" asp-action="Index">Elections</a></li>

                    }
                    <li class="nav__page-option"><a class="nav__page-link" asp-controller="Vote" asp-action="Index">Votes</a></li>
                    <li class="nav__page-option nav__page-option--contact">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="nav__page-link nav__page-link--contact">Logout</button>
                        </form>
                    </li>

                }
                else
                {
                    <li class="nav__page-option nav__page-option--contact">
                        <a class="nav__page-link nav__page-link--contact" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    </li>
                }
            </ul>
            <partial name="_LoginPartial" />
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - VotingApplication - Johan Patino 200577226, Juan Navarro 200584021, Neerad Rohit 200551177. COMP2084-24F <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
